{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('category_list') }}" class="btn btn-default">Back to Category List</a>
    <h2 class="page-header">{{ categories.CatName }}</h2>
    <a href="{{ path('category_edit', {'id': categories.id}) }}" class='btn btn-info    '>Edit</a>
    <a href="{{ path('category_delete', {'id': categories.id}) }} "class='btn btn-danger'>Delete</a>

{% endblock %}