{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('product_list') }}" class="btn btn-default">Back to Product List</a>
    <hr/>
    <h2 class="page-header">{{ products.Name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Price: {{ products.Price }}</li>

    </ul>
    <p>{{ products.description }}</p>
{% endblock %}
